{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <form>
        <div class="form-group">
          <fieldset class="inline">

            <legend>
              <h1 class="heading-xlarge">
                Are you ready to start?
              </h1>
            </legend>
            <div class="form-group">
              <p class="lede">
                This service is all about how one goes about starting this form. The reason we need this form is so we determine how you go about using our service.
              </p>
            </div>
            <div class="form-group">
              <p>
                Don't forget to tell us all the juicy details so we know what level of service to give you! Like we mean aaaalllll the juicy details!
              </p>
            <div class="form-group">

            <div class="form-group">
              <div class="multiple-choice">
                <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
                <label for="radio-inline-1">Yes</label>
              </div>
              <div class="multiple-choice">
                <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
                <label for="radio-inline-2">No</label>
              </div>
            </div>

            <div class="form-group">
              <a class="button button-start column-one-third" href="page2.html" role="button">Next</a>
            </div>
          </fieldset>
        </div>
      </form>
    </div>
  </div>
</main>

{% endblock %}
